*
{
    transition: all cubic-bezier(0.55, 0.055, 0.675, 0.19) ease-in-out;
}

.dropdown
{
    opacity: 70%;
    display: inline;
}

.dropdown button
{
    background-color: #000080;
    border: 20%;
    padding: 20px 200px;
    font-size: medium;
    color: #ffffff;
    cursor: pointer;
}

.dropdown .content
{
    display: none;
}

.dropdown:hover .content
{
    display: contents;
    padding-left: 50%;
}

.dropdown:hover button
{
    background-color: white;
    color: #1034A6;
}

footer
{
    text-align: center;
    background-color: #4c516d33;
    color: white;
    padding: 70px 70px;
    padding-left: 35%;
    padding-right: 35%;
}

.h1
{
    text-align: center;
    font-family: cursive;
}

.heading1
{
    text-align: center;
    padding-left: 60%;
    color: white
}

.h2
{
    text-align: center;
    font-family: cursive;
}

.heading2
{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    color: white;
}

body
{
    background: #4C516D;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(Artboard-4-copy.png);
    background-size: 98%;
}

.hh1
{
    margin-left: 60%;
    background-color: #000080;
    opacity: 70%;
    border: 20%;
    border-color: #0080ff;
    box-shadow: 5px 5px black;
    color: white;
}

.hh2
{
    margin-left: 30%;
    margin-right: 30%;
    background-color: #000080;
    border: 20%;
    border-color: #0080ff;
    opacity: 70%;
    box-shadow: 5px 5px black;
    color: white;
}

.hh1:hover 
{
    transform: scale(1.3);
    margin-right: 10%;
    margin-left: 50%;
    margin-top: 5%;
    z-index: 2;
    color: #0F52BA;
    background-color: #ffffff;
    border-color: #0080ff;
}

.hh2:hover
{
    transform: scale(1.3);
    z-index: 2;
    color: #0F52BA;
    background-color: #ffffff;
    border-color: #0080ff;
}

table
{
    color: #000080;
    background-color: #ffffff;
}

a
{
    color: rgb(255, 4, 129);
}

.hh3
{
    color:#ffffff;
    padding-left: 35%;

}

fieldset
{
    font-family: cursive;
}

